<ActionBar>
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label text="Settings"></Label>
</ActionBar>

<StackLayout class="page__content">
    <Label class="page__content-icon fas" text="&#xf013;"></Label>
    <Label class="page__content-placeholder" text="Configuración de valores"></Label>
    <FlexboxLayout flexDirection="row"> 
        <Label text="Nombre:" style="margin-top: 30px;margin-left: 10px;"> </Label>
        <TextField width="100" #texto="ngModel" [(ngModel)]="nombreUsuario"
        required ></TextField>
        <Label *ngIf="texto.hasError('required')" text="*" style="margin-top: 30px;"></Label>
    </FlexboxLayout>
    <button text="Guardar" class="btn btn-primary" (tap)="onGuardarTap()"></button>
</StackLayout>