<ActionBar>
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label text="Search"></Label>
</ActionBar>

<StackLayout class="page__content" #layout>
    <Label class="page__content-icon fas" text="&#xf002;" ></Label>
    <!-- <Image src="https://www.freepik.com/free-vector/fruits-vegetables-horizontal-composition_6883828.htm#page=1&query=fruits%20and%20vegetables&position=2"
        >
    </Image> -->


    <!-- <PullToRefresh (refresh)="onPull($event)">  -->

    <ListaProductosForm (search)="buscarConFiltro($event)" [inicial]="'Platano'"></ListaProductosForm>
    <ListView class="list-group" [items]="this.resultados" (itemTap)="onItemTap($event)" 
        style="height:1250px">
        <ng-template let-x="item">
            <FlexboxLayout flexDirection="row" class="list-group-item">
                <Image src="res://icon" class="thumb img-circle" style="width: 22%" 
                    (longPress)="onLongPress(e)" id="img-{{x.nombre}}"></Image>
                <!-- <Image src="https://www.freepik.com/free-icon/carrot-apple_814938.htm#page=1&query=fruits%20and%20vegetables&position=14" class="thumb img-circle" style="width: 19%" 
                    ></Image> -->
                <Label [text]="x.nombre" class="list-group-item-heading" verticlaAligment="center"
                    style="width: 20%"></Label>
                <Label [text]="x.categoria" class="list-group-item-heading" verticlaAligment="center"
                style="width: 25%"></Label>
                <!-- <Image src="res://icon" class="thumb img-circle" (itemTap)="elimina($event)"></Image> -->
                <button text="Categoria" (loaded)="btnLoaded($event)" (tap)="onCategoriaTap($event)" id="btn-{{x.nombre}}" data-nom="{{x.nombre}}"></button>
                <Image src="~/estrella.png"  (tap)="onFavTap($event)" style="width: 19%" id="fav-{{x.nombre}}"></Image>

                <!-- <button text="★" (loaded)="btnLoaded($event)" (tap)="onFavTap($event)" id="fav-{{x.nombre}}" style="width: 5%"></button> -->
                <!-- <Label text="★" class="list-group-item-heading" verticlaAligment="center" style="width: 8%"></Label> -->
                <!-- <Image src="/feliz.png"  style="width: 19%" ></Image> -->
                <!-- <Image src="/feliz.png"  style="width: 19%" ></Image> -->
            </FlexboxLayout>
        </ng-template>
    </ListView>
    <!-- </PullToRefresh> -->
</StackLayout>