<ActionBar>
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label text="Detalle del producto"></Label>
</ActionBar>

<StackLayout class="page__content">
    <Label class="page__content-icon far" text="&#xf1ea;"></Label>
    <Label style="text-align: center; font-size: larger;" text=""></Label>
    <FlexboxLayout flexDirection="row"> 
        <Label text="Nombre:" style="margin-top: 30px;margin-left: 10px;"> </Label>
        <TextField #texto="ngModel" [(ngModel)]="producto" 
          required sololetras="4" width="70"></TextField>
        <Label *ngIf="texto.hasError('required')" text="*" style="margin-top: 30px;"></Label>
        <Label *ngIf="!texto.hasError('required') && texto.hasError('sololetras')" text="Solo se admiten letras" style="margin-top: 30px;"></Label> 
    </FlexboxLayout>
    <Button text="Hacer pedido a proveedor" (tap)="onComprarTap($event)" backgroundColor="Red" style="font-weight: bold;" ></Button>
    <ListView class="list-group" [items]="this.opiniones" 
    style="height:1250px">
        <GridLayout columns="auto,*,auto" rows="auto, 25" verticalAligment="top" backgroundColor="lightgray">
            <Image src="~/icon.png" rowSpan="2" width="72" height="72" margin="3" verticalAligment="top"></Image>
            <!-- <Image src="~/icon.png" rowSpan="2" width="72" height="72" margin="3" verticalAligment="top"></Image> -->
            <Label text="Buen producto" textWrap="true" col="1" colSpan="2" minHeight="50" fontSize="20" margin="3"> </Label>
            <Label text="Usuario:" col="1" row="1" fontSize="14" horizontalAligment="left" verticalAligment="bottom" margin="3" ></Label>
            <Label text="Puntaje: 4.3" col="2" row="1" color="#10C2B0" fontSize="14" verticalAligment="bottom" margin="3"></Label>
        </GridLayout>
    </ListView>
</StackLayout>