<ActionBar>
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label text="Favoritos"></Label>
</ActionBar>

<StackLayout class="page__content">
    <Label class="page__content-icon fas" text="&#xf005;"></Label>
    <Label class="page__content-placeholder" text="Favoritos"></Label>
    <ListView class="list-group" [items]="this.favoritos" 
        style="height:1250px">
        <ng-template let-x="item">
            <FlexboxLayout flexDirection="row" class="list-group-item">
                <Label [text]="x" class="list-group-item-heading" verticlaAligment="center"
                    style="width: 60%"></Label>
                <button text="Comprar" (loaded)="btnLoaded($event)" (tap)="onComprarTap($event)" id="com-{{x}}" style="width: 20%"></button>
                
            </FlexboxLayout>
        </ng-template>
    </ListView>

</StackLayout>