<ActionBar>
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    --> 
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label text="Clientes"></Label>
</ActionBar>

<StackLayout class="page__content">
    <Label class="page__content-icon fas" text="&#xf007;"></Label>
    <Label class="page__content-placeholder" text="Catálogo de clientes" ></Label>
    <Button  text="Facturar!" class="btn btn-primary" (tap)="onFactButtonTap()"></Button>
    <Label class="page__content-placeholder" text="Da click en la imagen para compartirla" ></Label>
    <Image src="res://icon" class="thumb img-circle" style="width: 22%" 
    (tap)="onImgTap(e)"></Image>

</StackLayout>

