<ActionBar>
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label text="Inicio"></Label>
</ActionBar>

<StackLayout class="page__content">
    <Label class="page__content-icon fas"  text="&#xf015;"></Label>
    <Label class="page__content-placeholder titulo" text="Aplicación AVM"></Label>
    <Label class="page__content-placeholder descripcion" text="{{ this.device }}"></Label>
    <button  text="Foto!" class="btn btn-primary" (tap)="onCamTap()"></button>
    <Label class="page__content-placeholder" text="Productos comprados:"></Label>
    <ListView class="list-group" [items]="this.comprados" style="height:1250px">
        <ng-template let-x="item">
            <FlexboxLayout flexDirection="row" class="list-group-item">
                <Label [text]="x.nombre" class="list-group-item-heading" verticlaAligment="center"
                    style="width: 60%"></Label>
            </FlexboxLayout>
        </ng-template>
    </ListView>

</StackLayout>